<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="shortcut icon" th:href="@{/images/tinkoff.ico}"/>
	</head>
	<body>
		<div id="nav-menu">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class = "container-fluid">
					<div class = "d-flex align-items-center">
						<img th:src="@{/images/tinkoff.jpg}" width="50" height="50" class="mx-2 my-2 rounded" alt="Cinque Terre"/>
				    	<a class="navbar-brand mx-2" th:href="@{/}">
				    		<span class = "display-6">TINKOFF API</span>
				    	</a>
				    	<form th:method="GET" th:action="@{/}" class="d-flex mx-3">
							<input class="form-control me-2" type="search" placeholder="Поиск" th:name="ticker" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Поиск</button>
						</form>
			    	</div>
		    		<div sec:authorize="isAnonymous()" class = "d-flex">
						<a class="nav-link active h6 my-0" th:href="@{/login}">Войти</a>
						<a class="nav-link active h6 my-0" th:href="@{/registration}">Зарегистрироваться</a>
					</div>
				</div>			
			</nav>
		</div>
	</body>
</html>